.hidden{
    margin-left: 50px;
    margin-right: 50px;
    .img{
        height: 58.76px;
        width: 1002.34px;
    }
    .my-22{
        display: none;
    }
    .nav-item{
        font-size: 17px;
        font-weight: 600;
        span{
            color: #4CAF4F;
        }
        .btn{
            border: #4CAF4F 2px solid;
            background-color: #4CAF4F;
            border-radius: 10px;
            color: #ffffff;
            font-size: 17px;
            font-weight: 600;
        }
        
           }

        .my-10{
            margin-left: 250px;
        }
}
.carousel-control-prev-icon {
    display: none;
}
.hero{
    padding-top: 100px;
    height: 416.98px;
    img{

        width: 272.16px;
        height: 283.3px;
    }
    h3{
        font-size: 50px;
        font-weight: 600;
        span{
            color: #4CAF4F;
        }
    }
    p{
        margin-top: 10px;
        font-size: 17px;
        font-weight: 600;
        color: gray;
      
    }
    .btn{
        border: #4CAF4F 2px solid;
        background-color: #4CAF4F;
        border-radius: 10px;
        color: #ffffff;
        /* font-size: 17px; */
        /* font-weight: 600; */
    }
}
.mainu{
    .my-19{
        margin-top: 132.92px;
    }
    .my-11{
        margin-top: 50px;
        margin-bottom: 50px;
      h3{
        font-size: 30px;
        font-weight: 600;
       
      }
      p{
        font-size: 17px;
        font-weight: 600;
        color: gray;
      }
    }
    .my-13{

        margin-top: 50px;
        margin-bottom: 50px;
        h3{
            font-size: 30px;
            font-weight: 600;
           
          }
          p{
            font-size: 17px;
            font-weight: 600;
            color: gray;
          }
          .btn{
            border: #4CAF4F 2px solid;
            background-color: #4CAF4F;
            border-radius: 10px;
            color: #ffffff;
            /* font-size: 17px; */
            /* font-weight: 600; */
        }
        span{
            color: #4CAF4F;
        }
    }
   .my-14{
    margin-top: 50px;
   }
   .my-15{
   h3{
    font-size: 15px;
    font-weight: 600;
   }
   p{
    font-size: 12px;
    font-weight: 500;
    color: gray;
   }
   }
   .box{
    margin-top: -50px;
    .btn{
        width: 220px !important;
        border: #ffffff 2px solid;
        background-color: #ffffff;
        border-radius: 10px;
        width: 200px;
        color: gray;
        font-size: 14px; 
        font-weight: 600;
        span{
            color: #4CAF4F;
        }
    }
   }
   .my-16{
    margin-top: 20px;
   h2{
    font-size: 70px;
    font-weight: 600;
    padding-bottom: 70px;
   }
   .btn{
    border: #4CAF4F 2px solid;
    background-color: #4CAF4F;
    border-radius: 10px;
    color: #ffffff;
    /* font-size: 17px; */
    /* font-weight: 600; */
}
   }
}
footer{
    width: 100%;
    background-color: black;
    color: #ffffff;
}
@media(max-width: 768px) {
    .mainu{
        margin-top: 300px;
        .my-12{
            display: none;
        }
        .my-21{
            margin-top: 8%;
        }
        .my-16{
            margin-top: 20px;
           h2{
            font-size: 40px;
            font-weight: 600;
            padding-bottom: 70px;
           }
        }
    }
    .hidden{
        margin-left: 5px;
        margin-right: 5px;
        .my-22{
            display: block;
           
           
        }
        .my-23{
           display: none;
        }
         }
}